{% extends "registration/base_registration.html" %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}
{% if show_navbar %}
{% endif %}
  <!-- Include navbar here -->
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; margin: 0;">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="text-center mb-4">Password Reset Sent</h2>
        <p class="text-center">Check your email for the link to reset your password.</p>
        <a href="{% url 'login' %}" class="btn btn-primary w-100">Log In</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}