{% extends "registration/base_registration.html" %}

{% block title %}Set New Password{% endblock %}

{% block content %}
{% if show_navbar %}
{% endif %}
  <!-- Include navbar here -->
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; margin: 0;">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="text-center mb-4">Set New Password</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100">Set Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}