{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">

<div class="container-fluid">
    {% for league, matches in matches.items %}
              <div class="card mb-3
                    {% if league == "Premier League" %}
                        border-primary
                    {% elif league == "La Liga" %}
                                            border-danger
                    {% elif league == "Serie A" %}
                                            border-success
                    {% elif league == "Fußball-Bundesliga" %}
                                            border-warning
                    {% elif league == "Ligue 1" %}
                                            border-info
                    {% endif %}">
            <div class="card-header"><h1>{{ league }}</h1></div>
            <div class="card-body">
                <div class="row">
                    {% for match in matches %}
                        <div class="col-md-4">
                            <div class="card mb-3
                            {% if match.date <= today  %}
                                bg-success
                            {% endif %}">
                                <div class="card-header">{{ match.date|date:"d/m/Y" }}</div>
                                <div class="card-body">{{ match.home_team }} - {{ match.away_team }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}