.container-fluid {
    padding: 20px;
    background-color: #f8f9fa;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.league-card {
    margin-bottom: 30px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #ffffff;
    flex: 1 1 calc(50% - 40px); /* Adjust the width to fit two cards per row */
    box-sizing: border-box;
}

.league-name {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #495057;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 10px;
}

.fixture-card {
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.fixture-card .card-body {
    padding: 10px;
}