.pitch {
  position: relative;
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 4 / 3; /* Maintain a 4:3 aspect ratio */
  background: linear-gradient(0deg, #6c964c 50%, #567d39 50%);
  border: 2px solid #3b5d27;
  border-radius: 10px;
  overflow: hidden;
}

.player-card {
  position: absolute;
  width: 100px;
  height: 140px;
  background: linear-gradient(to bottom, #555555, #333333);
  /*background-color: linear;*/
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: white; /* Text color to stand out against the logo */
  text-shadow: 2px 2px 3px black; /* Enhance text readability */
  overflow: hidden;
  cursor: pointer;
  transform: translate(-50%, -50%); /* Center the card properly */
}

.player-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-bottom: 2px solid #333; /* Add border between image and player info */
}

.modal ul {
  padding: 0;
}

.modal ul li {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.modal ul li:hover {
  background-color: #268a12;
}

.list-group {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
}
.player-card.disabled {
    pointer-events: none;
    background: linear-gradient(to bottom, #ffcc00, #ff9900); /* Yellow to orange gradient to symbolize selection */
}
